{{extend './layout.htm'}}

{{block 'css'}}
<style>
    .me-relate {
        line-height: 1.8;
    }
    .me-relate-item {
        padding:0 8px;
    }
    .me-relate-git {
        margin-right: 3px;
    }
    .me-relate-item:hover .me-relate-git {
        display: inline;
    }
    .me-input-group {
        display: flex;
    }
    .me-input-prefix {
        width: 105px;
    }
    .me-input-suffix {
        width: 105px;
    }
    .me-input-group input {
        border-radius: 0!important;
    }
    .me-input-suffix input {
        border-radius: 0 2px 2px 0!important;
    }
    .me-hello-world button {
        margin-left: 10px;
        margin-top: 4px;
        margin-bottom: 8px;
    }
    @media screen and (max-width: 767.99px) {
        .me-relate-item {
            display: inline-block;
            min-width: 20%;
            text-align: left;
        }
        .layui-form-radio {
            box-sizing: border-box;
            min-width: 30%;
            margin-right: 0;
        }
        .me-hello-world button {
            min-width: 30%;
            text-align: left;
        }
    }
    @media screen and (max-width: 420px) {
        .me-relate-item {
            min-width: 40%;
        }
        .layui-form-radio {
            min-width: 40%;
        }
        .me-hello-world button {
            min-width: 40%;
        }
    }
</style>
{{/block}}

{{block 'main'}}
    <div class="me-center">
        <h1 class="me-green" style="font-size: 50px; font-weight: 500; line-height: 1.5; padding-top: 30px;">PushMe</h1>
        <h2 class="me-green" style="font-size: 30px; font-weight: 500; padding: 16px 0;">
            一个简单轻量的Android消息通知客户端！
        </h2>
        <div style="padding: 16px 0;">
            <a class="layui-btn" href="{{url('docs/index', 'https://push.i-i.me')}}" target="_blank">接口文档</a>
            <a class="layui-btn layui-btn-primary layui-border-green" href="{{url('docs/download', 'https://push.i-i.me')}}" target="_blank">APP下载</a>
        </div>
        <div class="me-relate">
            <span class="me-relate-item"><a class="me-relate-git" href="https://github.com/yafoo/pushme-server" target="_blank"><i class="layui-icon layui-icon-github"></i></a><a href="https://push.i-i.me/docs/host" target="_blank">PushMeServer</a></span>
            <span class="me-relate-item"><a class="me-relate-git" href="https://github.com/yafoo/pushme-plugin" target="_blank"><i class="layui-icon layui-icon-github"></i></a><a href="https://push.i-i.me/docs/plugin" target="_blank">PushMePlugin</a></span>
            <span class="me-relate-item"><a class="me-relate-git" href="https://github.com/yafoo/pushme-client" target="_blank"><i class="layui-icon layui-icon-github"></i></a><a href="https://push.i-i.me/docs/repost" target="_blank">PushMeClient</a></span>
            <span class="me-relate-item"><a class="me-relate-git" href="https://t.me/pushme_channel" target="_blank"><i class="layui-icon layui-icon-release"></i></a><a href="https://t.me/pushme_channel" target="_blank">Telegram</a></span>
        </div>
    </div>

    <h2 style="line-height: 30px; color: #333; padding-top: 30px;">在线测试</h2>
    <div class="" style="margin: 20px 0;">
        <form class="layui-form layui-form-pane" lay-filter="form">
            <div class="layui-form-item" style="margin-bottom: 0;">
                <label class="layui-form-label">push_key<span class="layui-font-red">*</span></label>
                <div class="layui-input-block">
                    <input type="password" name="push_key" lay-verify="required|pass" placeholder="请输入push_key" autocomplete="off" lay-affix="eye" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="checkbox" name="remember" lay-skin="primary" title="记住push_key" lay-filter="remember">
                </div>
            </div>
            <div class="layui-form-item" style="margin-bottom: 0;">
                <div class="layui-input-block">
                    <div class="me-input-group">
                        <div class="me-input-prefix">
                            <select name="theme" lay-filter="theme">
                                <option value="">消息主题</option>
                                <option value="i">信息:i</option>
                                <option value="s">成功:s</option>
                                <option value="w">警告:w</option>
                                <option value="f">失败:f</option>
                            </select>
                        </div>
                        <div class="me-input-suffix">
                            <input type="text" name="user" placeholder="消息分组" autocomplete="off" class="layui-input" lay-filter="user">
                        </div>
                        <div class="me-input-suffix" style="flex: 1;">
                            <input type="text" name="face" placeholder="分组头像" autocomplete="off" class="layui-input" lay-filter="face">
                        </div>
                        <div class="me-input-suffix">
                            <input type="text" name="channel" placeholder="消息通道" autocomplete="off" class="layui-input" lay-filter="channel">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">消息标题<span class="layui-font-red">*</span></label>
                <div class="layui-input-block">
                    <input type="text" name="title" placeholder="请输入消息标题" autocomplete="off" class="layui-input" lay-filter="title">
                    <div style="display: none; font-size: 10px; line-height: 12px; padding-left: 10px; word-break: break-all;">title：<span class="title-tips layui-font-green"></span></div>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label" style="padding-left: 23px;">消息内容<span class="layui-font-red">*</span></label>
                <div class="layui-input-block">
                   <textarea name="content" placeholder="请输消息入内容" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item" style="margin-bottom: 1px;">
                <label class="layui-form-label">通知消息</label>
                <div class="layui-input-block">
                    <input type="radio" name="type" value="text" title="text" checked>
                    <input type="radio" name="type" value="markdown" title="markdown">
                    <input type="radio" name="type" value="html" title="html">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">数据消息</label>
                <div class="layui-input-block">
                    <input type="radio" name="type" value="data" title="data">
                    <input type="radio" name="type" value="markdata" title="markdata">
                    <input type="radio" name="type" value="chart" title="chart">
                    <input type="radio" name="type" value="echarts" title="echarts">
                </div>
            </div>
            <div class="layui-form-item" style="margin-bottom: 0;">
                <label class="layui-form-label">消息示例</label>
                <div class="layui-input-block me-hello-world">
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" data-type="text">hello world</button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" data-type="markdown">markdown</button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" data-type="html">html</button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" data-type="data">data</button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" data-type="markdata">markdata</button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" data-type="echarts">echarts</button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" data-type="user" data-user="PushMe">分组</button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" data-type="emoji" data-user="我的分组"  data-face="😄">分组+emoji</button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" data-type="all" data-theme="s" data-user="风景"  data-face="https://pics0.baidu.com/feed/8644ebf81a4c510f6d010e1cb533ce22d52aa56e.jpeg?token=b1183390109fbc69caaa11d0481df84a" data-channel="重点通知">主题+分组+头像+通道</button>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">chart示例</label>
                <div class="layui-input-block me-hello-world">
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" data-type="chart"  data-chart="normal">hello chart</button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" data-type="chart"  data-chart="bar">bar chart</button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" data-type="chart"  data-chart="bar2">bar chart 2</button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" data-type="chart"  data-chart="bar3">bar chart 3</button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" data-type="chart"  data-chart="line">line chart</button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" data-type="chart"  data-chart="pie">pie chart</button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" data-type="chart"  data-chart="pie2">pie chart 2</button>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="send">发送</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
{{/block}}

{{block 'js'}}
<script>
    layui.use(function() {
        const layer = layui.layer;
        const form = layui.form;
        const $ = layui.$;
      
        form.render().on('submit(send)', function(data) {
            const field = data.field;
            console.log(field);
    
            if(!field.push_key) {
                layer.msg('push_key不能为空！', {icon: 2});
                return false;
            }
    
            if(field.remember == 'on') {
                localStorage.setItem('push_key', field.push_key);
            } else {
                localStorage.removeItem('push_key');
            }
    
            if(!field.title && !field.content) {
                layer.msg('标题和内容至少填写一项！', {icon: 2});
                return false;
            }
    
            const push_data = {
                push_key: field.push_key,
                title: $('.title-tips').text(),
                content: field.content,
                type: field.type
            };
    
            $.post('/', push_data, function(result) {
                if(result == 'success') {
                    layer.msg('发送成功！');
                    form.val('form', {title: '', content: '', type: 'text', theme: '', user: '', face: '', channel: ''});
                    title_tips();
                } else {
                    layer.msg(result, {icon: 2});
                }
            });
            return false;
        });

        // title tips
        const title_tips = function() {
            const titles = [];
            const title = $('input[name="title"]').val();
            const theme = $('select[name="theme"]').val();
            const user = $('input[name="user"]').val();
            const face = $('input[name="face"]').val();
            const channel = $('input[name="channel"]').val();
            theme && titles.push(`[${theme}]`);
            const group = user !== '' && face !== '' ? `[#${user}!${face}]` : user !== '' ? `[#${user}]` : '';
            group && !~group.indexOf('http') && titles.push(group);
            title && titles.push(title);
            group && ~group.indexOf('http') && titles.push(group);
            channel && titles.push(`[~${channel}]`);
            const res = titles.join('');
            $('.title-tips').text(res);
            res ? $('.title-tips').parent().show() : $('.title-tips').parent().hide();
        };
        form.on('select(theme)', function(data) {
            title_tips();
        });
        $('input[name="title"],input[name="user"],input[name="face"],input[name="channel"]').on('input', function() {
            title_tips();
        });
    
        form.on('checkbox(remember)', function(data) {
            const elem = data.elem;
            console.log(elem.checked);
    
            const input_push_key = $('input[name=push_key]').val();
            if(elem.checked && input_push_key) {
                localStorage.setItem('push_key', input_push_key);
            } else if(!elem.checked) {
                localStorage.removeItem('push_key');
            }
        });
    
        const cache_push_ley = localStorage.getItem('push_key')
        if(cache_push_ley) {
            form.val('form', {push_key: cache_push_ley, remember: 'on'});
        }

        const random = function() {
            return Math.round(Math.random()*100);
        };
        const randomLetter = function() {
            return String.fromCharCode(65 + Math.floor(Math.random() * 26));
        }
        $('.me-hello-world button').click(function() {
            const contents = {
                text: 'PushMe，一个简单轻量的Android消息通知客户端！',
                markdown: '## PushMe\n#### 一个简单轻量的Android消息通知客户端！\n官网：https://push.i-i.me/',
                html: '<div style="border: 10px solid #46bc99; text-align: center; font-size: 30px;">HTML</div>',
                data: random(),
                markdata: `||IP|UV|PV\n-|-|-|-\n今日|${random()}|${random()}|${random()}\n预计|${random()}|${random()}|${random()}\n昨日|${random()}|${random()}|${random()}`,
                chart: `${random()}`,
                echarts: `{"series":[{"type":"pie","data":[{"value":${random()},"name":"A"},{"value":${random()},"name":"B"},{"value":${random()},"name":"C"}]}]}`,
            };
            const charts = {
                normal: random(),
                bar: `${random()},${random()},${random()}`,
                bar2: `bar::${random()}|${randomLetter()}`,
                bar3: `bar|5::${random()}|${randomLetter()},${random()}|${randomLetter()}`,
                line: `line::${random()}|${randomLetter()}`,
                pie: `pie::${random()}|${randomLetter()}`,
                pie2: `pie|3::${random()}|A,${random()}|B,${random()}|C`,
            };
            const type = $(this).data('type');
            const chart = $(this).data('chart');
            const title = type == 'chart' ? $(this).text() : `hello ${type}`;
            const content = type == 'chart' ? charts[chart] : contents[type];
            const form_data = {title, content, type};
            if(!form_data.content) {
                form_data.content = 'PushMe，一个简单轻量的Android消息通知客户端！';
            }
            if(~['user', 'emoji', 'all'].indexOf(type)) {
                form_data.type = 'text';
            }
            ['theme', 'user', 'face', 'channel'].forEach(key => {
                form_data[key] = $(this).data(key) || '';
            });
            form.val('form', form_data);
            title_tips();
        });
    });
</script>
{{/block}}